*{
	margin: 0; border: 0;
	font-family: 'Raleway', sans-serif;
}

ul, li
{
	list-style-type: none;
}

a
{
	color: inherit;
	text-decoration: none;
}

/***************** HEADER *************/

header
{
	padding: 2em 2em 4em;
	background-color: #C1E057;
	text-transform: uppercase;
	margin: 1em;
}

header #logo
{
	font-weight: 600;
	font-size: 2rem;
}

header #slogan
{
	font-size: 1.5rem;
}

/***************** END HEADER *********/

/***************** TOP NAV ************/

#top {
	margin: .5em 0;
}

#top li
{
	display: inline-block;
	margin: 5px 10px;
}

#top a
{
	text-transform: uppercase;
	font-weight: 600;
}
/***************** END TOP NAV *******/

/***************** SECTION ***********/

h1
{
	background-color: #DFD758;
	color: #fff;
	padding: .5em 1em;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 400;
}

section
{
	margin: 0 1em;
}

section #leftcolumn
{
	float: left;
	color: #fff;
}

#leftcolumn
{
	font-weight: 600;
}

#left
{
	background-color: #57DFDD;
	margin-bottom: 1em;
}

#left ul
{
	padding: 3em 1em 4em 1.5em;
}

#leftcolumn li
{
	height: 1.5rem;
	width: 8rem;
	padding: .3em;
}

article
{
	margin-left: 12em;
}


.filler
{
	height: 10.45em;
	background-color: #57BEDF;
}

.body-copy
{

	padding: 2em 0;
	margin: 0 2em;
}

.body-copy p
{
	margin: 1em 0;
}

/***************** END SECTION *******/

/**************** FOOTER **************/

footer
{
	margin: 0 0 0 15em;
	padding: 10px 20px;
	text-align: right;
	background-color: lightgrey;
	opacity: .6;
	font-size: .8em;
}

footer li
{
	display: inline-block;
}

footer .fa-inverse
{
	color: lightgrey;
}

footer a:hover
{
	color: #fff;
}
/**************** END FOOTER **********/

